<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">YG Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/js/scripts.js"></script>
</head>
<body>
  <header>
      <h1><a th:href="@{/}" th:text="${title}" style="color: inherit; text-decoration: none;">코딩 실험실 입니다.</a></h1>
  </header>
  <div class="container">
      <aside class="sidebar">
          <nav>
              <ul>
                  <li th:each="board : ${boards}">
                      <a th:href="@{/}" th:text="${board}">게시판 이름</a>
                  </li>
              </ul>
          </nav>
      </aside>
      <main class = "content">
          <p th:text="${description}">하고싶은 코딩 실험하는 웹사이트</p>
      </main>
  </div>
  <div class="footer-border"></div>
<footer>
  <p>&copy; 2024 YG's laboratory</p>
</footer>

</body>
</html>